@import "../../Scss/Responsive/measure";

.container {
  width: 100%;
  @include responsive1024 {
    display: flex;
    justify-content: center;
  }
  .leftSideElement {
    display: none;
    @include responsive1024 {
      display: block;
      width: 20%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .informationsElement {
    width: 100%;
    @include responsive1024 {
      width: 80%;
      margin-left: 20%;
    }
  }
}
