.container {
  position: relative;
  background-color: #d9d9d9;
  padding-bottom: 80px;
}
.saveButton {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: end;
  background: #fff;
  box-shadow: 0px 0px 12px 12px rgba(144, 144, 144, 0.25);
  padding: 10px 24px;
}
.alertButton {
  width: 50px;
}
@media screen and (min-width: 728px) {
  .saveButton {
    padding: 10px 44px;
  }
}
