.section {
  .submitButton {
    .button {
      display: block;
      padding: 12px 16px;
      border-radius: 4px;
      border: #8d11cc;
      background: #8d11cc;
      cursor: pointer;
      color: #ffffff;
      font-size: 14px;
    }
  }
}
