@import "../../Scss/Responsive/measure";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  background: #f0f1fa;
  .navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    margin: auto;
    @include responsive728 {
      padding: 20px 0;
    }
    @include responsive992 {
      width: 94%;
      padding: 24px 0;
    }
    div {
      display: flex;
      align-items: center;
      img {
        display: none;
        @include responsive728 {
          display: block;
          width: 30px;
        }
        @include responsive992 {
          width: 60px;
        }
      }
      h1 {
        font-family: "Krona One", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        font-style: normal;
        line-height: normal;
        cursor: pointer;
        @include responsive728 {
          padding-left: 10px;
        }
        @include responsive992 {
          font-size: 2rem;
        }
      }
    }
    .rightSideElements {
      gap: 20px;
      .button {
        background-color: #8d11cc;
        border: none;
        padding: 8px 16px;
        border-radius: 8px;
        @include responsive728 {
          display: none;
        }
        a {
          text-decoration: none;
          color: #f0f1fa;
        }
      }
    }
    .navbarActive {
      display: none;
      ul {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        gap: 24px;
        a {
          color: black;
          text-decoration: none;
          font-size: 0.875rem;
          cursor: pointer;
          @include responsive992 {
            font-size: 1.25rem;
          }
        }
      }
      @include responsive728 {
        display: flex;
      }
    }
  }
}
